################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/SqlMcpBlazorClient/bin
/SqlMcpBlazorClient/obj
/SqlMcpServer/bin
/SqlMcpServer/obj
/SqlMcpBlazorClient/appsettings.json
